<article class="post">
    <div class="title">

        <span>{{content}}</span>
    </div>
    <div class="meta">
        {{user.username}}
        {{created_at}}
        <a href="/post/{{id}}">{{comments.length}} {{comments.length}}</a>
    </div>
</article>