<article class="post">
    <div class="post-top">
        <span class="post-title">
            {{title}}
        </span>
        <span class = "post-info">
            posted by {{user.username}}
            on {{format_date created_at}}
        </span>
    </div>
    <div class="content-div">
        {{content}}

    </div>
    <div class="meta">
        <a href="/post/{{id}}">{{comments.length}} {{comments.length}}</a>
    </div>
</article>